{% extends 'base.html' %}
{% block content %}

<h2>Profile: {{ profile_user.username }} </h2>
<p> {{ profile_user.bio }} </p>

{% if profile_user.profile_pic %}
    <img src="{{ profile_user.profile_pic.url }}" width="150px">
{% endif %}

<br>
{% if user == profile_user %}
<a href="{% url 'edit_profile' %}">
    <button>Edit Profile</button>
</a>
{% endif %}

<hr>
<h3>Posts</h3>
{% for post in posts %}
    <div class="post">
        <img src="{{ post.image.url }}" width="300px"> <br>
        <p> {{ post.caption }} </p>
        <p>Likes: {{ post.total_likes }} </p>
    </div>
    <hr>

{% empty %}
    <p>No posts yet.</p>

{% endfor %}
{% endblock %}